SetEnv APPLICATION_ENV development
php_value "short_open_tag" "on" 
php_value "post_max_size" "25M" 
php_value "session.cache_expire" "3600"
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
php_flag magic_quotes_gpc 0



